<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance System</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/model-task-manage.css" />

</head>
<body>
  <%- include('../components/header.ejs') %>

  <div class="main">
    <%- include('../components/left-sidebar.ejs') %>
    <div class="body">
      <div class="article">
        <div class="content pb-3">
          <div class="content-header">
            <h5>ตัวจัดการเพิ่มเติม</h5>
            <hr>
            <div class="my-form">
              <div class="my-input-group-container p-0">
                <a href="" class="my-icon-button my-button-light" data-bs-toggle="modal"
                  data-bs-target="#new-brand"><img src="/icons/brand.png" alt=""> เพิ่มรุ่นที่ไม่มีในระบบ</a>
              </div>
            </div>
            <div class="modal fade" id="new-brand" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/post/model" method="post">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel">จัดการรุ่นของอุปกรณ์</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="my-input-container">
                        <label for="">รุ่นอุปกรณ์</label>
                        <input type="text" class="my-input my-input-sm" placeholder="ไทย - อังกฤษ - ตัวเลข" name="model" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="my-icon-button-sm my-button-light" data-bs-dismiss="modal"><img
                          src="/icons/close.png" alt=""> ยกเลิก</button>
                        <button type="submit" class="my-icon-button-sm my-button-save"><img src="/icons/save.png"
                            alt=""> บันทึกข้อมูล</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <h5>จัดการรุ่นของอุปกรณ์</h5>
            <hr>
          </div>
          <form class="fillter-content">
            <div class="my-input-inline-container">
              <div>
                <label for="">แสดง</label>
                <select name="" id="" class="my-input-inline">
                  <option value="1" selected>20</option>
                  <option value="2">50</option>
                  <option value="3">100</option>
                </select>
                <label for="" class="ms-1">รายการ</label>
              </div>
            </div>
            <div class="my-input-inline-container">
              <div>
                <label for="">ตัวกรอง : </label>
                <select name="" id="" class="my-input-inline">
                  <option value="1" selected>รุ่นอุปกรณ์</option>
                </select>
              </div>
              <div>
                <label for="">ค้นหา : </label>
                <input type="text" class="my-input-inline">
              </div>
            </div>
          </form>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-start">รุ่น</th>
                  <th class="text-center fit">เวลา/วันที่เพิ่ม</th>
                  <th class="text-center">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <% models.forEach((model, index) => { %>
                <tr>
                  <td class="start"><%= model.model %></td>
                  <td class="text-center fit">
                    <span><%= model.date %></span><br>
                    <span><%= model.time %></span>
                  </td>
                  <td class="end fit text-center">
                    <a href="" class="my-icon-button-table-inline my-button-light" data-bs-toggle="modal" data-bs-target="#<%= model.model_id %>"><img src="/icons/edit.png" alt="">แก้ไข</a>
                    <a href="" class="my-icon-button-table-inline my-button-bin"><img src="/icons/trash-bin-white.png" alt="">ลบ</a>
                  </td>
                  <div class="modal fade" id="<%= model.model_id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form action="">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">จัดการรุ่นอุปกรณ์</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="my-input-container">
                              <label for="">รุ่นอุปกรณ์</label>
                              <input type="text" class="my-input my-input-sm" placeholder="ไทย - อังกฤษ - ตัวเลข" value="<%= model.model %>">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button class="my-icon-button-sm my-button-light" data-bs-dismiss="modal"><img src="/icons/close.png" alt=""> ยกเลิก</button>
                            <button type="submit" class="my-icon-button-sm my-button-save"><imgsrc="/icons/save.png" alt=""> บันทึกข้อมูล</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>
  
  <script src="/js/calc-layout.js"></script>
  <script src="/js/left-menu-expand.js"></script>

</body>
</html>
