<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="sidebar-left">
    <nav class="left-menu-container  my-background p-0">
      <div class="p-3 sidebar-left-header">
        <h4 class="m-0">ระบบงานซ่อม</h4>
      </div>
      <a class="left-menu-item <%= page === 'dashboard' ? 'active' : '' %>" href="/"><p><img src="/icons/left-menu/dashboard.png"/>แดชบอร์ด</p></a>
      <a class="left-menu-item <%= page === 'search' ? 'active' : '' %>" href="/search"><p><img src="/icons/left-menu/search.png"/>ค้นหาและจัดการงานซ่อม</p></a>
      <a class="left-menu-item <%= page === 'quick-add-task' ? 'active' : '' %>" href="/quick-add-task"><p><img src="/icons/left-menu/quick-add.png"/>เพิ่มงานซ่อมด่วน</p><p>หน้าร้าน</p></a>
      <a class="left-menu-item <%= page === 'add-task' ? 'active' : '' %>" href="/add-task"><p><img src="/icons/left-menu/add.png"/>เพิ่มงานซ่อมทิ้งไว้</p><p>ค้างคืน</p></a>
      <div class="left-menu-item-expand <%= page === 'manage' ? 'active' : '' %>">
        <div class="left-menu-expand-header">
          <p class="m-0">
            <img src="/icons/left-menu/brand.png"/>
            จัดการยี่ห้อและสถานะงานซ่อม
          </p>
          <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
        </div>
        <div class="sub-left-menu-expand-container">
          <a class="sub-left-menu-item <%= page === 'manage' && sub_menu === 'brand-task-manage' ? 'active' : '' %>" href="/manage/brand-task-manage"><p><img src="/icons/left-menu/brand.png"/>จัดการยี่ห้อ</p></a>
          <a class="sub-left-menu-item <%= page === 'manage' && sub_menu === 'model-task-manage' ? 'active' : '' %>" href="/manage/model-task-manage"><p><img src="/icons/left-menu/model.png"/>จัดการรุ่น</p></a>
          <a class="sub-left-menu-item <%= page === 'manage' && sub_menu === 'status-task-manage' ? 'active' : '' %>" href="/manage/status-task-manage"><p><img src="/icons/left-menu/status.png"/>จัดการสถานะ</p></a>
        </div>
      </div>
      <div class="left-menu-item-expand <%= page === 'task' ? 'active' : '' %>">
        <div class="left-menu-expand-header">
          <p class="m-0">
            <img src="/icons/left-menu/treasury.png"/>
            คลังงานซ่อม
          </p>
          <img class="icon-expand" src="/icons/left-menu/arrow.png" alt="">
        </div>
        <div class="sub-left-menu-expand-container">
          <a class="sub-left-menu-item <%= page === 'task' && sub_menu === 'task' ? 'active' : '' %>" href="/task/all"><p><img src="/icons/left-menu/treasury.png"/>งานซ่อมทั้งหมด</p><p>หน้าร้าน</p></a>
          <a class="sub-left-menu-item" href=""><p><img src="/icons/left-menu/process.png"/>กำลังดำเนินการ</p><p>หน้าร้าน</p></a>
          <a class="sub-left-menu-item" href=""><p><img src="/icons/left-menu/complete.png"/>เสร็จแล้ว</p></a>
          <a class="sub-left-menu-item" href=""><p><img src="/icons/left-menu/cancel.png"/>ยกเลิกซ่อม</p></a>
          <a class="sub-left-menu-item" href=""><p><img src="/icons/left-menu/others.png"/>อื่นๆ</p></a>
        </div>
      </div>
    </nav>
  </div>